* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 0.5px dotted red */
}

:root {
    /* Colors */
    --gray-background: #C0C0C0;
    --dark-background: #1F2937;
    --text-white: #FFFFFF;
    --text-muted: #D5D4D8;
    --highlight-green: #4ADF86;
    --btn-green: #10B981;
    --outline-brown: #c29861;
    --pwd-box-background: #273549;
    --pwd-text-green: #55F991;
    --footer-text: #c29861;

    /* Light theme colors */
    --light-background: #ECFDF5;
    --light-header-text: #2B283A;
    --light-subtitle-text: #6B7280;
    --light-border: #2F3E53;
    --light-pwd-green: #5DEF92;
    
    /* Desktop Toggle Switch Gradient Colors */
    --toggle-off-start: #ffcc89;
    --toggle-off-end: #d8860b;
    --toggle-on-start: #777;
    --toggle-on-end: #3a3a3a;

    /* Other common values */
    --transition-speed: 0.3s;
}


html {
    background: var(--gray-background);
}

body {
    cursor: default;
    font-family: 'Inter', sans-serif;
    background-color: var(--dark-background);
    height: auto;
    width: 100vw;
    padding: 0 2.8em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* ----- TOGGLE SWITCH ----- */

.toggle__input, 
.toggle__label {
    display: none;
}

/* ----- MAIN ----- */

/* PASSWORD HEADER */

.pwd-header {
    margin: 4em 0 3em;
}

.pwd-header__title {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    line-height: 40px;
    color: var(--text-white);
    margin: 0;
}

.pwd-header__subtitle {
    color: var(--text-muted);
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    margin-top: 15px;
}

span {
    color: var(--highlight-green);
    display: block;
}

/* ----- PASSWORD GENERATOR CONTROLS ----- */
.pwd-controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.pwd-controls__btn {
    background-color: var(--btn-green);
    color: var(--text-white);
    border: none;
    border-radius: 5px;
    padding: 1em 1.5em;
    font-size: 1.25rem;
    margin: 1.5em 0;
    order: 2;
    transition: transform var(--transition-speed) ease-in-out;
}

fieldset {
    border: none;
}  

.pwd-settings {
    width: 100%;
}

.pwd-settings__option {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pwd-settings__option-label {
    font-size: 1.25rem;
    color: var(--text-muted);
}

.pwd-settings__checkbox {
    width: 2em;
    height: 2em;
}

.pwd-settings__checkbox:hover, 
.pwd-settings__length-slider:hover,
.pwd-controls__btn:hover, 
.pwd-display__copy-btn:hover {
    cursor: pointer;
}


.pwd-settings__checkbox:active, 
.pwd-settings__checkbox:focus,
.pwd-settings__length-slider:active,
.pwd-settings__length-slider:focus,
.pwd-controls__btn:active,
.pwd-controls__btn:focus, 
.pwd-display__copy-btn:active, 
.pwd-display__copy-btn:focus {
    outline: 2px solid var(--outline-brown);
    border-radius: 5px;
    outline-offset: 2px;
}

.pwd-settings__length-label {
    font-size: 1.25rem;
    color: var(--text-muted);
}

.pwd-settings__length-slider {
    width: 100%;
    margin-top: 1em;
}

.pwd-settings__length-slider:active {
    transform: scale(1.1);
    transition: transform var(--transition-speed) ease-in-out;
}

.pwd-display {
    border-top: 1px solid var(--outline-brown);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pwd-display__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.pwd-display__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    border-radius: 5px;
    padding-left: 1em;
    color: var(--pwd-text-green);
    background-color: var(--pwd-box-background);
}

.pwd-display__text {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 1.35rem;
}

.pwd-display__copy-btn {
    background-color: var(--pwd-box-background);
    margin: 0.5em;
    padding: 0 0.5em;
    border: none;
    border-radius: 5px;
}

.pwd-controls__btn:hover {
    transform: scale(1.05);
}

.pwd-display__copy-btn:hover {
    transform: scale(1.15);
}

.pwd-controls__btn:active, 
.pwd-display__copy-btn:active {
    transform: scale(0.95);
}

.pwd-display__tooltip {
    color: var(--pwd-text-green);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    visibility: hidden;
    white-space: nowrap;
    padding-right: 0.5em;
    width: 100%;
    height: 3em;
}

/* ----- FOOTER ----- */

footer {
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    text-align: center;
    color: var(--footer-text);
    margin: 3.5em 0;
}

/* ----- LIGHT MODE ----- */

.light-theme {
    background-color: var(--light-background);
}

.light-theme h1 {
    color: var(--light-header-text);
}

.light-theme span {
    color: var(--btn-green);
}

.light-theme .pwd-header__subtitle,
.light-theme .pwd-settings__option-label,
.light-theme .pwd-settings__length-label,
.light-theme h4 {
    color: var(--light-subtitle-text);
}

.light-theme .pwd-display {
    border-top: 1px solid var(--light-border);
}

.light-theme .pwd-display__container {
    color: var(--light-pwd-green);
}

.light-theme .pwd-display__tooltip {
    color: var(--light-subtitle-text);
}

/* Enables smooth transitions for theme switching */
body, 
span, 
.pwd-header__title, 
.pwd-header__subtitle, 
.pwd-settings__option-label
.pwd-settings__length-label, 
.pwd-display, 
.pwd-display__container {
    transition: all var(--transition-speed) ease-in-out;
}

/* 
   Adjusts the tap highlight color for touch devices. This provides clearer visual feedback 
   when elements are tapped, especially on iOS devices.
*/

button {
    -webkit-tap-highlight-color: rgba(16, 185, 129, 0.5)
}


/* ... DESKTOP ... */

@media (min-width: 550px) {
    body {
        justify-content: center;
        width: 550px;
        height: 550px;
        padding: 0 2.8em;
        border-radius: 0.75rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 2px 10px;
    }

        /* TOGGLE SWITCH */

    /* Hidden checkbox input */
    .toggle__input {
        display: none;
        position: absolute;
    }

    /* Toggle switch styles */
    .toggle__label {
        display: block;
        position: absolute;
        top: 40px;
        right: 40px;
        width: 40px;
        height: 20px;
        border-radius: 25px;
        box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.4), inset 0 -5px 15px rgba(255, 255, 255, 0.4);
        transition: background var(--transition-speed) ease-in-out;
    }

    /* Inner circle */
    .toggle__label::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: linear-gradient(180deg, var(--toggle-off-start), var(--toggle-off-end));
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transition: left var(--transition-speed) ease-in-out, background var(--transition-speed) ease-in-out;
    }

    /* Toggle switch styles when checked */
    .toggle__input:checked + .toggle__label {
        background: #242424;
    }

    .toggle__input:checked + .toggle__label::after {
        left: calc(100% - 20px);
        background: linear-gradient(180deg, var(--toggle-on-start), var(--toggle-on-end));
    }

    /* Hover states */
    .toggle__label:hover {
        cursor: pointer;
        transform: scale(1.25);
        transition: transform var(--transition-speed) ease-in-out;
    }

    /* Focus and active states */
    .toggle__label:focus,
    .toggle__label:active {
        outline: 2px solid var(--outline-brown);
        border-radius: 25px;
        outline-offset: 2px;
    }

    .toggle__label:active::after {
        width: 25px;
        height: 25px;
        top: -2.5px;  
        left: -2.5px; 
    }

        /* ----- MAIN ----- */

    /* PASSWORD HEADER */

    .pwd-header {
        margin-top: 1.5em;
    }

    /* ----- PASSWORD GENERATOR CONTROLS ----- */

    .pwd-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }

    .pwd-settings {
        order: 2;
    }

    .pwd-settings {
        width: 45%;
    }

    .pwd-controls__btn {
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .pwd-settings__option {
        margin-top: 0.25em;
        display: flex;
        justify-content: space-between;
        line-height: 1.6;
    }

    .pwd-settings__option-label {
        font-size: 1rem;
    }

    .pwd-settings__checkbox {
        width: 1.25em;
    }

    .pwd-settings__length-label {
        font-size: 1rem;
    }

    .pwd-settings__length-slider {
        margin-top: 0.55em;
    }

    .pwd-display {
        border-top: 1px solid var(--outline-brown);
        flex-direction: row;
        justify-content: space-between;
    }

    .pwd-display__container {
        width: 211px;
        height: 39px;
        margin: 0.5em 0;
    }
    
    .pwd-display__text {
        font-size: 0.88rem;
    }
    
    .pwd-display__copy-btn {
        margin-right: 5px;
    }

    .pwd-display__tooltip {
        height: 1.5em;
        margin-bottom: 0.5em;
    }

    footer {
        margin: 4em 0 -2em;
        font-size: 0.85rem;
    }

}
