* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* outline: 0.5px dotted red */
}

html {
    background: grey;
}

body {
    cursor: default;
    font-family: 'Inter', sans-serif;
    background-color: #1F2937;
    height: 100vh;
    width: 100vw;
    padding: 0 45px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* ----- HEADER ----- */

/* TOGGLE SWITCH */

.toggle__input, 
.toggle__label {
    display: none;
}

/* ----- MAIN ----- */

/* PASSWORD HEADER */

.pwd-header {
    margin: 4em 0 3em 0;
}

.pwd-header__title {
    font-family: 'Karla', sans-serif;
    font-weight: bold;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    margin: 0;
}

.pwd-header__subtitle {
    color: #D5D4D8;
    font-size: 20px;
    line-height: 28px;
    margin: 0;
    margin-top: 15px;
}

span {
    color: #4ADF86;
    display: block;
}

/* ----- PASSWORD GENERATOR CONTROLS ----- */
.pwd-controls {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}

.pwd-controls__btn {
    background-color: #10B981;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 1em 1.5em;
    font-size: 1.25rem;
    margin: 1.5em 0;
    order: 2;
    transition: transform 0.3s ease-in-out;
}

fieldset {
    border: none;
}  

.pwd-settings {
    width: 100%;
}

.pwd-settings__numbers, 
.pwd-settings__symbols {
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.6;
}

.include-numbers, 
.include-symbols {
    font-size: 1.25rem;
    color: #D5D4D8;
}

.pwd-settings__checkbox {
    width: 2em;
    height: 2em;
}

.pwd-settings__checkbox:hover {
    cursor: pointer;
}

.pwd-settings__checkbox:active,
.pwd-settings__checkbox:focus {
    outline: 2px solid #c29861;
    outline-offset: 2px;
    border-radius: 5px;
}

.pwd-settings__length-label {
    font-size: 1.25rem;
    color: whitesmoke;
}

.pwd-settings__length-slider {
    width: 100%;
    margin-top: 1em;
}

.pwd-settings__length-slider:hover {
    cursor: pointer;
}

.pwd-settings__length-slider:active,
.pwd-settings__length-slider:focus {
    outline: 2px solid #c29861;
    border-radius: 5px;
    outline-offset: 2px;
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}

.pwd-display {
    border-top: 1px solid #c29861;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pwd-display__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
    border-radius: 5px;
    width: 100%;
}

.pwd-display__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 4em;
    border-radius: 5px;
    line-height: 2.5em;
    padding-left: 1em;
    color: #55F991;
    background-color: #273549;
}

.pwd-display__pwd-one, 
.pwd-display__pwd-two {
    display: flex;
    align-items: center;
    white-space: nowrap;
    overflow-x: auto;
    font-size: 1.35rem;
}

.pwd-display__copy-pwd-one, 
.pwd-display__copy-pwd-two {
    background-color: #273549;
    margin: 0.5em;
    padding: 0 0.5em;
    border: none;
    border-radius: 5px;
}

.pwd-controls__btn:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.pwd-controls__btn:active,
.pwd-controls__btn:focus {
    outline: 2px solid lightskyblue;
    border-radius: 5px;
    outline-offset: 2px;
}

.pwd-display__copy-pwd-one:hover, 
.pwd-display__copy-pwd-two:hover {
    cursor: pointer;
    transform: scale(1.15);
}

.pwd-controls__btn:active, 
.pwd-display__copy-pwd-one:active, 
.pwd-display__copy-pwd-two:active {
    transform: scale(0.95);
}

.pwd-controls__btn:focus, 
.pwd-display__copy-pwd-one:focus, 
.pwd-display__copy-pwd-two:focus  {
    outline: 2px solid lightskyblue;
    border-radius: 5px;
    outline-offset: 2px;
}

.pwd-display__tooltip {
    color: #55F991;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    visibility: hidden;
    white-space: nowrap;
    padding-right: 0.5em;
    width: 100%;
    height: 3em;
}

/* ----- FOOTER ----- */

footer {
    font-family: 'Pacifico', cursive;
    font-size: 1rem;
    margin-top: 1.125rem;
    text-align: center;
    color: #c29861;
}

footer p {
    margin-top: 1.25rem;
    margin-bottom: -1.25rem
}

/* ----- DARK MODE ----- */

.dark-theme {
    background-color: #1F2937;
}

.dark-theme .pwd-header__title {
    color: #FFFFFF;
}

.dark-theme span {
    color: #4ADF86;
}

.dark-theme .pwd-header__subtitle,
.dark-theme .include-numbers,
.dark-theme .include-symbols,
.dark-theme .pwd-settings__length-label {
    color: #D5D4D8;
}

.dark-theme .pwd-display {
    border-top: 1px solid #c29861;
}

.dark-theme .pwd-display__container {
    color: #55F991;
}

/* ----- LIGHT MODE ----- */

.light-theme {
    background-color: #ECFDF5;
}

.light-theme h1 {
    color: #2B283A;
}

.light-theme span {
    color: #10B981;
}

.light-theme .pwd-header__subtitle,
.light-theme .include-numbers,
.light-theme .include-symbols,
.light-theme .pwd-settings__length-label,
.light-theme h4 {
    color: #6B7280;
}

.light-theme .pwd-display {
    border-top: 1px solid #2F3E53;
}

.light-theme .pwd-display__container {
    color: #5DEF92;
}

.light-theme .pwd-display__tooltip {
    color: #6B7280;
}

/* Enables smooth transitions for theme switching */
body, 
.pwd-header__title, 
span, 
.pwd-header__subtitle, 
.include-numbers, 
.include-symbols, 
.pwd-settings__length-label, 
.pwd-display, 
.pwd-display__container {
    transition: all 0.3s ease-in-out;
}

/* 
   Adjusts the tap highlight color for touch devices. This provides clearer visual feedback 
   when elements are tapped, especially on iOS devices.
*/

button {
    -webkit-tap-highlight-color: rgba(16, 185, 129, 0.5);
}


/* ... DESKTOP ... */

@media (min-width: 550px) {
    body {
        justify-content: center;
        width: 550px;
        height: 550px;
        padding: 0 45px;
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        box-shadow: 0px 2px 10px;
    }

        /* TOGGLE SWITCH */

    /* Hidden checkbox input */
    .toggle__input {
        display: none;
        position: absolute;
    }

    /* Toggle switch styles */
    .toggle__label {
        display: block;
        position: absolute;
        top: 40px;
        right: 40px;
        width: 40px;
        height: 20px;
        background: #ebebeb;
        border-radius: 25px;
        box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.4), inset 0 -5px 15px rgba(255, 255, 255, 0.4);
        transition: background 0.3s ease-in-out;
    }

    /* Inner circle */
    .toggle__label::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
        background: linear-gradient(180deg, #ffcc89, #d8860b);
        border-radius: 50%;
        box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
        transition: left 0.3s ease-in-out, background 0.3s ease-in-out;
    }

    /* Toggle switch styles when checked */
    .toggle__input:checked + .toggle__label {
        background: #242424;
    }

    .toggle__input:checked + .toggle__label::after {
        left: calc(100% - 20px);
        background: linear-gradient(180deg, #777, #3a3a3a);
    }

    /* Hover states */
    .toggle__label:hover {
        cursor: pointer;
        transform: scale(1.25);
        transition: transform 0.3s ease-in-out;
    }

    /* Focus and active states */
    .toggle__label:focus {
        outline: 2px solid #007BFF;
        border-radius: 5px;
        outline-offset: 2px;
    }

    .toggle__label:active {
        outline: 2px solid #007BFF;
    }

    .toggle__label:active::after {
        width: 25px;
        height: 25px;
        top: -2.5px;  
        left: -2.5px; 
    }

        /* ----- MAIN ----- */

    /* PASSWORD HEADER */

    .pwd-header {
        margin: 1.5em 0;
    }

    /* ----- PASSWORD GENERATOR CONTROLS ----- */

    .pwd-controls {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1em;
    }

    .pwd-controls__btn {
        order: 1;
    }

    .pwd-settings {
        order: 2;
    }

    .pwd-settings {
        width: 45%;
    }

    .pwd-controls__btn {
        border-radius: 5px;
        padding: 10px 15px;
        font-size: 1rem;
        margin-bottom: 10px;
        order: 2;
    }

    .pwd-settings__numbers, 
    .pwd-settings__symbols {
        margin-top: 0.25em;
        display: flex;
        justify-content: space-between;
        line-height: 1.6;
    }

    .include-numbers, 
    .include-symbols {
        font-size: 1rem;
    }

    .pwd-settings__checkbox {
        width: 1.25em;
    }

    .pwd-settings__length-label {
        font-size: 1rem;
    }

    .pwd-settings__length-slider {
        margin-top: 0.55em;
    }

    .pwd-display {
        border-top: 1px solid #c29861;
        flex-direction: row;
        justify-content: space-between;
    }

    .pwd-display__container {
        width: 211px;
        height: 39px;
        margin: 0.5em 0;
    }
    
    .pwd-display__pwd-one, 
    .pwd-display__pwd-two {
        font-size: 14.1px;
    }
    
    .pwd-display__copy-pwd-one, 
    .pwd-display__copy-pwd-two {
        margin-right: 5px;
    }

    .pwd-display__tooltip {
        height: 1.5em;
        margin-bottom: 0.5em;
    }

}
